@font-face {
  font-family: 'Kenny';
  src: url("../font/kenvector_future.ttf") format("truetype");
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'KennyThin';
  src: url("../font/kenvector_future_thin.ttf") format("truetype");
  font-style: italic;
  font-stretch: normal;
}

html {

  background-color: #1b2735;
  background-image: -webkit-radial-gradient(ellipse at bottom, #1b2735 0%, #020512 100%);
  background-image:    -moz-radial-gradient(ellipse at bottom, #1b2735 0%, #020512 100%);
  background-image:      -o-radial-gradient(ellipse at bottom, #1b2735 0%, #020512 100%);
  background-image:         radial-gradient(ellipse at bottom, #1b2735 0%, #020512 100%);

  overflow: hidden;
}
body {
  margin: 0;
}
canvas {
  position: absolute;
  z-index: 2;
  cursor: -webkit-grab;
}